
   <script src="/js/jquery.js"></script>
   <script src="/bootstrap/js/bootstrap.min.js"></script>
   <script src="/datatables/js/jquery.dataTables.js"></script>
   <script src="/datatables/js/dataTables.bootstrap4.js"></script>
   <script src="/js/moment.min.js"></script>
   <script src="/js/daterangepicker.js"></script>
   <script>
        $(document).ready(function() {
            $('#dataTables').DataTable({
                responsive: true
            });
        });
        </script>
</body>
</html>